.cards__list {
  display: grid;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  }

  .cards--2-columns & {
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .cards--3-columns & {
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  & > li {
    background-color: var(--background-color);
    border-radius: 6px;
    border: 1px solid var(--col-neutral30);
    overflow: hidden;
  }
}

.cards__card-body {
  margin: 24px;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.cards__card-image {
  line-height: 0;

  img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
}