.text-image__container {
  --image-width: 50%;

  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (width >= 768px) {
    flex-direction: row;
  }

  > div:not(.text-image__image-container) {
    order: 1;
    flex-grow: 1;

    @media (width >= 768px) {
      order: initial;
      width: calc(100% - var(--image-width));
    }
  }
}

.text-image__image-container {
  order: 0;

  @media (width >= 768px) {
    order: initial;
    width: var(--image-width);

    .bigimage & {
      --image-width: 70%;
    }

    .smallimage & {
      --image-width: 30%;
    }
  }
}
