footer {
  background-color: var(--light-neutral-color);
  font-size: var(--txt206-font-size);
  line-height: var(--txt206-line-height);
}

footer .footer > div {
  margin: auto;
  max-width: var(--content-max-width);
  padding-block: 40px;
  padding-inline: var(--content-padding-inline);
}

footer .footer p {
  margin: 0;
}
