/* Brand fonts */
@font-face {
  font-family: frutiger;
  src: url('../fonts/FrutigerLTW01-45Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: frutiger;
  src: url('../fonts/FrutigerLTW01-65Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
