/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* Breakpoints */
  
  /* 
  sm: < 768px
  md: >= 768px
  lg: >= 1280;
  */
  
  /* fonts */
  --body-font-family: frutiger, sans-serif;
  --heading-font-family: frutiger, sans-serif;

  /* font sizes */
  --hl17-font-size: 32px;
  --hl17-line-height: 125%;
  --hl18-font-size: 28px;
  --hl18-line-height: 120%;
  --hl19-font-size: 24px;
  --hl19-line-height: 150%;
  --hl20-font-size: 20px;
  --hl20-line-height: 140%;
  --hl21-font-size: 18px;
  --hl21-line-height: 150%;
  --hl22-font-size: 16px;
  --hl22-line-height: 160%;
  --txt150-font-size: 14px;
  --txt150-line-height: 114%;
  --txt150-font-weight: bold;
  --txt201-font-size: 16px;
  --txt201-line-height: 160%;
  --txt204-font-size: 14px;
  --txt204-line-height: 160%;
  --txt206-font-size: 12px;
  --txt206-line-height: 166%;

  /* navigation */
  --txt154-font-size: 14px;
  --txt154-line-height: 114%;

  @media (min-width: 768px) {
    --hl17-font-size: 48px;
    --hl17-line-height: 120%;
    --hl18-font-size: 40px;
    --hl21-font-size: 20px;
  }
  
  @media (min-width: 1280px) {
    --hl19-font-size: 32px;
    --hl20-font-size: 24px;
    --hl20-line-height: 150%;
    --hl22-font-size: 18px;
    --hl22-line-height: 161%;
    --txt150-font-size: 16px;
    --txt150-line-height: 112%;
    --txt201-font-size: 17px;
    --txt204-font-size: 16px;
    --txt204-line-height: 150%;
  }

  /* nav height */
  --nav-height: 64px;

  /* DN Theme variables */

  /* Primary */
  --col-white: #FFF;
  --col-black: #000;

  /* Brand Set */
  --col-brand30: #E60000;
  --col-brand40: #DA0000;
  --col-brand50: #BD000C;

  /* Neutral Set */
  --col-neutral10: #F9F9F7;
  --col-neutral20: #F4F3EE;
  --col-neutral30: #CCCABC;
  --col-neutral40: #B8B3A2;
  --col-neutral50: #8E8D83;
  --col-neutral60: #7A7870;
  --col-neutral70: #5A5D5C;
  --col-neutral80: #404040;
  --col-neutral90: #1C1C1C;

  /* Spacing */
  --content-max-width: 1290px;
  --content-padding-inline: 20px;
  
  @media (min-width: 768px) {
    --content-padding-inline: 42px;
  }
  
  @media (min-width: 1280px) {
    --content-padding-inline: 75px;
  }

  /* Shadows */
  --box-shadow: 0 1px 2px 0 rgba(var(--col-neutral50), 0.34), 0 0 13px 0 var(var(--col-neutral10));

  /* colors */
  --background-color: var(--col-white);
  --light-neutral-color: var(--col-neutral10);
  --dark-neutral-color: var(--col-neutral90);
  --text-color: var(--col-neutral90);
  --link-color: var(--col-brand40);
  --link-hover-color: var(--col-brand50);
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--txt201-font-size);
  line-height: var(--txt201-line-height);
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 400;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--hl17-font-size);
  line-height: var(--hl17-line-height);
}

h2 {
  font-size: var(--hl18-font-size);
  line-height: var(--hl18-line-height);
}

h3 {
  font-size: var(--hl19-font-size);
  line-height: var(--hl19-line-height);
}

h4 {
  font-size: var(--hl20-font-size);
  line-height: var(--hl20-line-height);
}

h5 {
  font-size: var(--hl21-font-size);
  line-height: var(--hl21-line-height);
}

h6 {
  font-size: var(--hl22-font-size);
  line-height: var(--hl22-line-height);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--txt201-font-size);
  line-height: var(--txt201-line-height);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-neutral-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-neutral-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

main {
  /* section */
  & > .section {
    margin: 40px 0;

    &:first-of-type {
      margin-top: 0;
    }

    & > div {
      max-width: var(--content-max-width);
      margin: auto;
      padding-inline: var(--content-padding-inline);
    }

    /* section metadata */
    &.light,
    &.highlight {
      background-color: var(--light-neutral-color);
      margin: 0;
      padding: 40px 0;
    }
  }
}